[core]
    pager = delta
    precomposeUnicode = true
    sshCommand = ssh.exe

[init]
    defaultBranch = main

[ssh]
    variant = ssh

[user]
    email = yo@rodrigogarcia.me
    name = Rodrigo García

[pull]
    rebase = true

[push]
    autoSetupRemote = true

[github]
    user = yo@rodrigogarcia.me

[advice]
    detachedHead = false

[alias]
    co = checkout
    ci = commit
    st = status
    br = branch
    cp = cherry-pick
    re = rebase

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    light = false

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
