[Desktop Entry]
Name=Visual Studio Code Insiders Wayland
Comment=Code Editing. Refined.
GenericName=Text Editor
Exec=/usr/bin/code-insiders --no-sandbox --unity-launch --enable-features=WaylandWindowDecorations --ozone-platform-hint=auto %F
Icon=visual-studio-code-insiders
Type=Application
StartupNotify=false
StartupWMClass=code - insiders
Categories=Utility;TextEditor;Development;IDE;
MimeType=text/plain;inode/directory;
Actions=new-empty-window;
Keywords=vscode;

[Desktop Action new-empty-window]
Name=New Empty Window
Exec=/opt/visual-studio-code-insiders/code-insiders --no-sandbox --new-window --enable-features=WaylandWindowDecorations --ozone-platform-hint=auto %F
Icon=visual-studio-code-insiders
